
<div class="box">
    <img src="projects/intsight-ui/src/assets/images/svg/icons/calendar.svg" alt="Icon" class="icon" />
    <select class="dropdown">
        <option value="option1">Last 30 Minutes</option>
        <option value="option2">Last Hour</option>
        <option value="option3">Last 4 Hours</option>
        <option value="option4">Last 24 Hours</option>
        <option value="option5">Last 72 Hours</option>
        <option value="option6">Custom</option>
      </select>
  </div>



